body{
    font-family: 'Marck Script', cursive;
    color: #FFFFFF;
    background-color: #FFF;
    height: 100%;
}

html {
    height: 100%;
}

button{
    background-color: #3e8f3e;
}

button:hover, button:focus, button:visited{
    background-color: #3e8f3e;
    border-color: #3e8f3e;
    outline-color: #3e8f3e;
}

.btn:hover, .btn:focus, .btn:visited, .btn:active:focus{
    color: #FFFFFF;
    background-color: #3e8f3e;
    border-color: #3e8f3e;
    outline-color: #3e8f3e;
}

a{
    color: #3e8f3e;
}
a:hover{
    color: #3e8f3e;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
    font-weight:300;
}
h1{
    font-size: 6rem;
}
h2{
    font-size: 4rem;
    line-height: 6rem;
}
h3{
    font-size: 2.5rem;
    line-height: 3rem;
}
h4{
    font-size: 2rem;
    line-height: 3rem;
}
h5{
    font-size: 1.8rem;
    line-height: 2.8rem;
}
h6{
    font-size: 1.7rem;
    line-height: 2.8rem;
}
p, label{
    font-size: 1.8rem;
    line-height: 5rem;
}
.form-control{
    font-size: 2.4rem;
}
.wow { visibility: hidden; }

/* For all sections */
#start, #omnie, #galeria, #kontakt{
    min-height: 100%;
    overflow-x: hidden;
}
.omnie, .galeria{
    padding-bottom: 5rem;
}

/* Navigacja */
#navigation{
    background-color: rgba(255,255,255,0.6);
}

.navbar{
    background-color: transparent;
    font-size: 2.2rem;
    color: #000;
    min-height: 55px;
    padding: 1rem 7rem;
    border-color: transparent;
    margin-bottom: 0px;
}

.navbar-brand {
    height: auto;
}

.navbar-outer{
    width: 1200px;
}

span.icon-bar{
    background-color: #000;
}

#navi_list{
    padding: 1rem 0;
    font-family: 'Raleway', sans-serif;
}
#navi_list li a[href="#omnie"]{
    display: none;
}

.navbar-nav > li >a{
    color: #000;
    margin-left: 5px;
    border: 2px solid transparent;
    line-height: 1rem;
    font-weight: 400;
}

.navbar-nav > li >a:hover, .navbar-nav > li >a:focus{
    display: block;
    color: #000;
    border: 2px solid midnightblue;
    background-color: transparent;
    line-height: 1rem;
    border-radius: 4px;
    transition: all 0.7s ease;
}

.navbar-nav > .active >a{
    display: block;
    border-color: #000;
    border-radius: 4px;
    background-color: transparent;
}

.navbar-nav > .active >a:hover{
    color: #000;
    background-color: transparent;
}

.navbar-collapse{
    border-color: #FFFFFF;
    text-align: center;
}

.navbar-toggle:hover{
    background-color: transparent;
}

.navbar-toggle {
    border-color: inherit;
    margin: 2.5rem;
}
.navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-nav>.active>a, .navbar-nav>.active>a:focus, .navbar-nav>.active>a:hover {
    color: #000;
    background-color: transparent;
}

/* start */

#start{
    text-align: center;
    background-color: #FFFFFF;
    display: block;
    background: url('../images/background.jpg') no-repeat center;
    background-size: cover;
}

/* Galeria */

#galeria{
    padding-top: 7.5em;
    padding-bottom: 7.5em;
    text-align: center;
    background-color: #FFF;
    display: block;
    position: relative;
    background-size: cover;
    z-index: 1;
}

#galeria .container{
    padding-bottom: 25rem;
}

/* About */

#about{
    position: relative;
    margin: -25rem 0;
    z-index: 5;
    overflow-x: hidden;
}

#about > .container{
    background-color: #3e8f3e;
    color: #FFF;
    padding: 8rem;
    text-align: left;
    line-height: 2rem;
}

#about > .container .row div:last-child{
    padding:3rem 0 2rem 0;
}
#about > .container .row div > p{
    font-size: 2.3rem;
    line-height: 3.3rem;
}

/* O mnie */

#omnie{
    padding-top: 10em;
    padding-bottom: 10em;
    background: url('../images/background2.JPG') no-repeat center;
    display: block;
    position: relative;
    background-size: cover;
    z-index: 1;
}

/* Kontakt*/

#kontakt{
    padding-top: 7.5em;
    text-align: center;
    background-color: #FFFFFF;
    display: block;
    background-size: cover;
}

.kontakt + div{
    padding-top: 4rem;
}
.kontakt h1{
    color: #000;
}

.kontakt hr{
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
.kontakt hr:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}
.kontakt .container{
    padding-bottom: 7.5rem;
}

.kontakt{
    font-size: 2.5rem;
}

.kontakt i{
    font-size: 2rem;
    padding-right: 0.5rem;
    color: #000;
}

.kontakt a{
    padding: .5rem 0;
}

.score{
    font-family: 'Raleway', sans-serif;
    color: #000000;
}

.alert-warning{
    font-family: 'Raleway', sans-serif;
}

.btn i{
    padding-right: 0.5rem;
}

/* Gallery */

#gallery{
    position: static;
    max-height:100%;
    width: 100%;
    line-height:0;
}

#carousel-example-generic{
    display: none;
}

/* Stopka */

footer{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    display: block;
    background-color: #3e8f3e;
    background-size: cover;
    color: #000;
}

footer p{
    padding-top: 1.5rem;
    font-size: 1.8rem;
    line-height: 3rem;
}
footer .container{
    padding-bottom: 1.5rem;
}

footer a, footer a:focus, footer a:hover, footer a:active{
    color: #FFF;
}

/* Modal */

.modal-content{
    color: #FFFFFF;
    background-color: rgba(17, 106, 188, 1);
}

.modal-body{
    text-align: center;
}

.modal-header button span{
    padding-left: 1rem;
    padding-right: 1rem;
    color: #FFFFFF;
    border:3px solid #FFFFFF;
}

.modal-footer > button.btn:focus, .modal-footer > button.btn:active:hover,
.modal-footer > button.btn:active, .modal-footer > button.btn:hover{
    border: 1px solid rgba(17, 106, 188, 1);
    color: #000000;
    background-color: #FFFFFF;
}

/* Responsywnosc */

@media(min-width: 768px) and (max-width: 991px){
    html{
        font-size: 50%;
        line-height: 1rem;
    }
    .kontakt > p{
        text-align: center;
    }
}

@media(max-width: 768px) {
    html {
        font-size: 40%;
        line-height: 1rem;
    }
    .kontakt > p{
        text-align: center;
    }
}

@media(max-width: 400px){
    .navbar-toggle {
        margin: 2.5rem 0;
    }
    .navbar{
        padding: 0;
    }
}
